# Django 设置
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost, 127.0.0.1, 192.168.0.102

# 数据库设置（如果需要）
# DATABASE_URL=sqlite:///db.sqlite3

# 其他敏感配置
# API_KEYS=your-api-keys-here 